/* Styles the Media Library sidebar tabs (CuBoulder/express_admin#8). */

.media-library-menu {
  background: var(--color-gray-050);
  border-right: 1px solid #ccc;
  margin-left: -.5rem;
}

.media-library-menu li {
  display: block;
  border-bottom: 1px solid #ccc;
  overflow: visible;
}

.media-library-menu__link {
  color: var(--color-link);
  font-weight: bold;
  min-width: 5em;
  box-shadow: none;
  padding: 0.6em 1em;
}

.media-library-menu .media-library-menu__link:hover,
.media-library-menu .media-library-menu__link:active,
.media-library-menu .active.media-library-menu__link {
  background-color: #FFF;
}

.media-library-menu .active.media-library-menu__link {
  border-right: 1px solid #FFF;
  margin-right: -1px;
  box-shadow: none;
}

.ui-dialog.media-library-widget-modal>.ui-dialog-buttonpane {
  border-top: 1px solid #ccc;
}
