/* Enables hiding the node edit form sidebar.  */

#ucb-edit-container.sidebar-closed {
  grid-template-columns: calc(100% - 2em) 2em;
}

#ucb-edit-container.sidebar-closed>#ucb-edit-main {
  width: auto;
}

#ucb-edit-container.sidebar-closed>#ucb-edit-sidebar>#ucb-edit-sidebar-content {
  display: none;
}
