{#
/**
 * @file
 * Contains the template for the node edit form.
 *
 * Available variables:
 * - form: The node add/edit form.
 */
#}
{% extends '@claro/node-edit-form.html.twig' %}
{% block secondary %}
  <div class="ucb-sidebar-toggle-container">
    <a role="button" id="ucb-sidebar-toggle-button" href="#" data-status="open">
      <i class="fa-solid fa-2x fa-toggle-on"></i>
    </a>
  </div>
  {{ parent() }}
{% endblock %}
